{% extends "common/base.html" %}
{% block content %}
    {% if not context %}
    <h1>No data!</h1>
    {% endif %}
    <div>Summary temperature data</div>
    <table border="1">
        <tr align="center">
            <td>Date</td>
            <td>Local temperature</td>
            <td>Local temperature min</td>
            <td>Local temperature max</td>
            <td>API temperature</td>
            <td>API temperature min</td>
            <td>API temperature max</td>
        </tr>
        {% for data in context %}
        <tr align="center">
            <td>{{ data.date_time }}</td>
            <td>{{ data.temperature }}</td>
            <td>{{ data.temperature_min }}</td>
            <td>{{ data.temperature_max }}</td>
            <td>{{ data.temp_api.temperature_max }}</td>
            <td>{{ data.temp_api.temperature_max }}</td>
            <td>{{ data.temp_api.temperature_max }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
